.main{
    position: relative;
}
.mian-left {
    width: 350px;
    height: auto;
    min-height: 100px;
    float: left;
    margin-top: 20px;
}

.mian-right {
    position: relative;
    width: 700px;
    height: auto;
    min-height: 100px;
    overflow: hidden;
    background-color: #ededef;
    float: left;
    margin-top: 20px;
    margin-left: 50px;
    padding-bottom: 0px;
}






.direction-introduce {
    width: 700px;
    height: auto;
    background-color: white;
    margin-bottom: 20px;
}
.direction-introduce-title {
    width: 700px;
    height: 60px;
    line-height: 60px;
    background-color: white;
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bolder;
}

.direction-introduce-content {
    width: 700px;
    height: auto;
    min-height: 100px;
    background-color: white;
    box-sizing: border-box;
    padding-left: 20px;
}

.direction-card {
    width: 700px;
    height: auto;
    background-color: white;
    margin-bottom: 20px;
}
.direction-card-title {
    width: 700px;
    height: 60px;
    line-height: 60px;
    background-color: white;
    box-sizing: border-box;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bolder;
}

.direction-card-content {
    width: 700px;
    height: auto;
    min-height: 100px;
    background-color: white;
    box-sizing: border-box;
    padding-left: 20px;
}
.direction-card-content-title {
    width: 700px;
    height: 50px;
    line-height: 50px;
    color: #666;

    background-color: white;
    box-sizing: border-box;
    font-size: 18px;
}

.direction-card-content-wrap{
    padding-bottom: 10px;
    color: #999;
    padding-right: 20px;
}