* {
    margin: 0 auto;
    font-family: "微软雅黑", "宋体", Arial;
}

body {
    background-color: #ededef;
}

.header {
    width: 100%;
    height: 160px;
    background-color: #24292c;
}

.header-content {
    width: 1100px;
    height: 160px;
}

.header-logo {
    width: 160px;
    height: 160px;
    float: left;
}

.header-logo img {
    width: 140px;
    height: 140px;
    margin: 10px;
}

.header-title {
    width: 750px;
    height: 160px;
    margin-left: 50px;
    float: left;
}

.header-title-top {
    width: 750px;
    height: 90px;
    line-height: 90px;
    font-size: 50px;
    color: #fff;
    float: left;
}

.header-title-middle {
    width: 750px;
    height: 20px;
    float: left;
    font-style: italic;
    color: #fff;
}

.header-title-bottom {
    width: 750px;
    height: 50px;
    float: left;
}

.header-english {
    text-align: center;
    line-height:30px;
    width: 140px;
    height: 160px;
    float: left;
    background-color: #24292c;
}

.header-english a {
    color: #575b5c;
    text-decoration: none;
}

.nav-item {
    width: auto;
    min-width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    color: #575b5c;
}

.nav-item a {
    text-decoration: none;
    color: #575b5c;
    display: block;
    width: 100%;
    height: 100%;
}

.nav-item.active a{
    color: #fff;
    background-image: url("../img/sanjiao.png");
    background-repeat: no-repeat;
    background-position: center 36px;

}

.main {
    width: 1100px;
    height: auto;
    min-height: 300px;
    overflow: hidden;
}

.mian-left {
    width: 700px;
    height: auto;
    min-height: 100px;
    float: left;
}

.mian-right {
    width: 350px;
    height: auto;
    min-height: 100px;
    overflow: hidden;
    background-color: white;
    margin-top: 20px;
    float: left;
    margin-left: 50px;
    padding-bottom: 20px;
}

.main-right-title {
    width: 320px;
    height: 60px;
    background-color: white;
    margin-top: 20px;
}

.main-right-title-text {
    width: 260px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    float: left;
}

.main-right-title-more {
    width: 60px;
    height: 60px;
    line-height: 60px;
    float: left;
}

.main-right-item {
    width: 320px;
    height: 60px;
    margin-top: 15px;
}

.main-right-item-left {
    width: 70px;
    height: 60px;
    float: left;
    text-align: center;
}
.main-right-item-left-month {
    width: 70px;
    height: 20px;
    color:#661c3f;
}
.main-right-item-left-date {
    width: 70px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
}
.main-right-item-right {
    width: 240px;
    height: 60px;
    line-height: 30px;
    overflow: hidden;
    float: left;
    font-size: 16px;
    padding-left: 8px;
    border-left: 2px dashed #24292c;
}

.main-right-item-right a {
    color: #000;
    text-decoration: none;
}
.main-right-item-right a:hover{
    color: blue;
    text-decoration: none;
}

.card {
    width: 700px;
    height: auto;
    overflow: hidden;
    background-color: white;
    margin-top: 20px;
    padding-bottom: 15px;
}



.card-img {
    width: 660px;
    height: 350px;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    position: relative;
}
.card-img img{
    width: 660px;
    height: 350px;
    float: left;
}
.card-img ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.card-img ul li{
    margin: 0;
    padding: 0;
    list-style: none;
}
.card-img .islider-dot-wrap {
    position: absolute;
    width: 270px;
    height: 50px;
    margin: 0 195px 0 195px;
    top: 300px;
}
.card-img .islider-dot{
    width: 20px;
    height: 20px;
    margin-left: 32.5px;
    margin-right: 32.5px;
    float: left;
    cursor: pointer;
    background-image: url("../img/dian2.png");
    background-size: 20px 20px;
}
.card-img .islider-dot.active{
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-image: url("../img/dian1.png");
}






.card-title {
     width: 660px;
    height: 50px;
 }

.card-title-text {
    width: 600px;
    height: 50px;
    line-height: 50px;
    float: left;
    font-size: 20px;
}

.card-title-more {
    width: 60px;
    height: 50px;
    line-height: 50px;
    float: left;
}

.card-detail {
    width: 660px;
    height: auto;
    line-height: 25px;
    overflow: hidden;
    white-space: normal;
}

.footer{
    width: 100%;
    height: 200px;
    background-color: #24292c;
    margin-top: 20px;

}

.footer-content{
    width: 1100px;
    height: 200px;
    background-color: #24292c;
}
.footer-content-left{
    width: 549px;
    height: 180px;
    float: left;
    margin-top: 10px;
    border-right: 1px solid #fff;
}
.footer-content-right{
    width: 549px;
    height: 180px;
    float: left;
    margin-top: 10px;
    border-left: 1px solid #fff;
}

.footer-content-title {
     width: 500px;
     height: 60px;
     line-height: 60px;
     font-size: 25px;
     color: white;
 }

.footer-content-item {
    width: 500px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: white;
}

.footer-content-item a{
    text-decoration: none;
    color: white;
}
.footer-content-item a:hover{
    text-decoration: none;
    color: blue;
}

.bottom{
    width: 1100px;
    height: 50px;
    line-height: 50px;
}



.menu-title {
    width:350px;
    height:50px;
    line-height: 50px;
    padding-left: 20px;
    background-color: #f3f3f3;
    border: #b1b1b1 2px solid;
    box-sizing: border-box;
    color: #232323;
}

.menu-title a {
    text-decoration: none;

    color: #232323;

}
.menu-drop {
    width:350px;
    height:auto;
    background-color: #f3f3f3;
    border: #b1b1b1 2px solid;
    border-bottom: #b1b1b1 1px solid;
    box-sizing: border-box;
    color: #232323;
    margin-top: 5px;
}
.menu-drop a {
    text-decoration: none;

    color: #232323;

}
.menu-drop-top{
    width:346px;
    height:50px;
    box-sizing: border-box;
    border-bottom: #b1b1b1 1px solid;
}
.menu-drop-top .title{
    width:300px;
    height:50px;
    line-height: 50px;
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
}
.menu-drop .right{
    width:46px;
    height:46px;
    float: left;
    cursor: pointer;
    line-height: 46px;
    background-image: url("../img/zhankai1.png");
    background-size: 46px 46px;
}
.menu-drop .right2 {
    width:46px;
    height:46px;
    float: left;
    cursor: pointer;
    line-height: 46px;
    background-image: url("../img/zhankai2.png");
    background-size: 46px 46px;
}

.menu-drop-content{
    width:346px;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
}

.menu-item {
    width:346px;
    height:30px;
    line-height: 30px;
    padding-left: 20px;
    background-color: #f3f3f3;
    border-top: #b1b1b1 1px solid;
    border-bottom: #b1b1b1 1px solid;
    box-sizing: border-box;
    color: #232323;
}
