.mian-left{
    background-color: white;
    margin-top: 20px;
    padding-bottom: 20px;
}

.mian-left{
    background-color: white;
    margin-top: 20px;
    padding-bottom: 20px;

}

.main-left-title {
    width: 670px;
    height: 60px;
    background-color: white;
    margin-top: 20px;
}

.main-left-title-text {
    width: 610px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    float: left;
}

.main-left-title-more {
    width: 60px;
    height: 60px;
    line-height: 60px;
    float: left;
}

.main-left-item {
    width: 670px;
    height: 60px;
    margin-top: 15px;
}

.main-left-item-left {
    width: 70px;
    height: 60px;
    float: left;
    text-align: center;
}
.main-left-item-left-month {
    width: 70px;
    height: 20px;
    color:#661c3f;
}
.main-left-item-left-date {
    width: 70px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
}
.main-left-item-right {
    width: 590px;
    height: 60px;
    line-height: 30px;
    overflow: hidden;
    float: left;
    font-size: 16px;
    padding-left: 8px;
    border-left: 2px dashed #24292c;
}

.to-top-wrap{
    width: 1100px;
    height:100px;
    overflow: hidden;
    position: fixed;
    bottom: 0px;
}

.mian-right .main-left-item {
    width: 320px;
    height: 60px;
    line-height: 30px;
    overflow: hidden;
    float: left;
    font-size: 16px;
    margin-left: 10px;
}

.mian-right .main-left-item-right {
    width: 240px;
    height: 60px;
    line-height: 30px;
    overflow: hidden;
    float: left;
    font-size: 16px;
    padding-left: 8px;
    border-left: 2px dashed #24292c;
}

.main .main-left-item-right a{
   text-decoration: none;
    color: #000;
}

.main .main-left-item-right a:hover{
    text-decoration: none;
    color: blue;
}